<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

<style type="text/css">

ul{
list-style-type: none;

}
table{
padding : 2rem;}
</style>

</head>
<body>

<h1>Home </h1>

<h2>All posts </h2>

<ul>

<li>
<a href="add">New post</a>
</li>
</ul>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Date </th>
        
    </tr>
    </thead>
    <tbody>

    <tr th:each="post : ${posts}">
        <td><span th:text="${post.title}"> Title </span></td>
        <td><span th:text="${post.content}"> Content </span></td>
        <td><span th:text="${post.date}"> Date </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>